* {
    margin:0;
    padding:0;
}
#wrapper {
width:100%;
height:90pt;
background-color:#234465;
}
/* List Items */
.nav {
    margin-top:80px;
    position:relative;
    border-radius:3.75pt;
    padding:7.5pt;
    margin-left:10.5pt;
    display:inline-block;
}
.nav:first-of-type {
    margin-left:760px;
}
.nav:hover {
    background-color:#ff9c00;
}
.nav:hover > ul {
    display:block;
    position:absolute;
}
/* Nested List Items */
.nested {
    padding:7.5pt;
    display:block;
    border-bottom:1px solid #435f7b;
}
.nested:last-of-type {
    border:none;
}
.nested:hover {
    background-color:#ff9c00;
}
.nested:hover > #special {
    color:white;
}
.nestedUl {
    position: relative;
    left: -0px;
    border-radius:2.25pt;
    border:1pt solid #1d3955;
    margin-top:7.5pt;
    display:none;
    width:255.75pt;
    z-index:10;
    background-color:#234465;
}
/* Image */
#wrapper div img {
    position:absolute;
    margin:25pt;
    display:inline-block;
    width:225pt;
    height:40.25pt;
}
a:hover #image{
    opacity: 0.1;
}
#logo {
    vertical-align:middle;
    width:202.5pt;
}

/* HyperLink */
a {
    font:sans-serif;
    font-weight:bold;
    color:white;
    text-decoration:none;
    text-transform:uppercase;
}
.lower {
    text-transform:none;
}
#special {
    color:#4ca0db;
}

/*Arrows*/
.arrow-down{
    width: 0;
    height: 0;
    margin-bottom:2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display:inline-block;
    border-top: 5px solid white;
}
